:root{
    --main-bg-color: #eee;
    --main-text-color: black;
    --logo-hover-color: #888;
    --nav-link-hover-color: #666;
    --between-topbot-color: #aaa;
    --between-main-color: #777;
    /* --main-bg-color: black;
    --main-text-color: whitesmoke;
    --logo-hover-color: #ddd;
    --nav-link-hover-color: #666;
    --between-topbot-color: #aaa;
    --between-main-color: #777; */
}

*{
    font-family: 'MontserratLight', normal;
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

body{
    /* background-color: #464866; */
    /* background-color: white; */
    background-image: linear-gradient(to right,var(--between-main-color), var(--main-bg-color) 3% 97%, var(--between-main-color));
}

/* Begin Navbar */
div.navbar{
    /* background-color: #25274d; */
    /* background-color: var(--main-bg-color); */
    background-image: linear-gradient(to right,#777, var(--main-bg-color) 3% 97%, #777);
    
    height: 5rem;
    width:100%;
}

div.navbar span.logo{
    font-family: 'MontserratBlack', bolder;
    display: inline-block;
    /* color: #2e9cca; */
    color: var(--main-text-color);
    transition: color 1s;

    text-decoration: none;
    font-size: 50px;
    margin-top: .5rem;
    margin-left: 3rem;
    cursor: default;
}

div.navbar span.logo:hover{
    color: var(--logo-hover-color);
}

div.navbar ul.nav-links{
    margin-top: 1.75rem;
    margin-right: 4rem;
    float: right;
}

div.navbar button.nav-link{
    background-color: transparent;
    border: none;
    display: inline-block;
    /* color:#2e9cca; */
    color: var(--main-text-color);
    font-size: 20px;
    margin-left: 2vw;
    padding-bottom: .5rem;
}

div.navbar button.nav-link a:hover{
    cursor: pointer;
    color: var(--nav-link-hover-color);
    text-decoration: underline;
    text-underline-offset: 10px;
    display: inline-block;
}

div.navbar button.nav-link a{
    text-decoration: none;
    color:var(--main-text-color);
}
/* End Navbar */

/* Begin Main Content */
div.mainContent{
    width: 100%;
    color: var(--main-text-color);
}

div.mainContent .subPage{
    margin:auto;

    width: 90vw;
    height: 100vh;

    transition: opacity .5s;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home h1{ 
    font-family: 'Courier Prime', monospace;
    color: var(--main-text-color);
    text-align: center;
    font-size: 20vw;
    margin-left: 4rem;

    margin-top: 22rem;
}

.home h1:hover{ 
    animation-name: titleHover;
    animation-duration: 3s;
}

@keyframes titleHover {
    0%{letter-spacing: 0px;}
    70%{letter-spacing: 1vw;}
    100%{letter-spacing: 0px;}
}

#titleSub {
    padding-top: 6rem;

    opacity: 0;
    transition: opacity 2.5s;
    -webkit-transition: opacity 2.5s;

    text-align: center;
    display: inline-block;
}

div.mainContent .home p{
    font-family: 'Courier Prime', monospace;
    margin: 0 2rem 2rem 2rem;
    font-size: 1rem;
    min-height: 8rem;
}

div.mainContent h2{
    font-family: 'MontserratBlack';
    font-size: 5rem;
    width: 100%;
    text-align: center;
    margin:auto;
    text-underline-offset: 15px;
}

div.mainContent h2::before, div.mainContent h2::after{
    content: "";
    display: inline-block;
    width: 4px;
    height: 2rem;
    margin: 0rem 1rem .5rem 1rem;
    background-color: var(--nav-link-hover-color);

    transition: height .5s, margin .5s;
}

div.mainContent h2:hover::before, div.mainContent h2:hover::after{
    height: 3rem;
    margin: 0rem 1rem 0rem 1rem;
}
div.mainContent p{
    margin: 2rem 2rem 2rem 2rem;
    font-size: 25px;
}

/* Begin Project Checkbox */
.languages{
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
}

.languages label{
    margin: auto;
}

.languages i{
    color: var(--main-text-color);
}

.languages i:hover{
    color: var(--logo-hover-color);
    cursor: pointer;
}

.languages input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.languages input:checked ~ i{
    color: #a8d4ff;
}
/* End Project Checkbox */

/* Begin Project Card */
.projectCards{
    margin: 3rem 1.5rem 1.5rem 1.5rem;
    display:flex;
    flex-wrap: wrap;
}

.hidden{
    width:0 !important;
    height:0 !important;
    opacity: 0 !important;
    margin: 0 !important;
}

.card{
    margin: auto;
    margin-bottom: 2rem;
    max-width: 18rem;
    display:block;
    background-color: var(--main-bg-color);
    border: 3px solid var(--main-text-color);
    box-shadow: 5px 10px 18px #888888;
    transition: transform .3s;
    z-index: 0;
}

.card:hover{
    z-index: 1;
    transform: scale(1.05);
}

.card .card-img{
    width:100%;
    margin: auto;
}

.card .card-body p{
    margin: .5rem .5rem .5rem .5rem;
    font-size: 1.25em;
    width: 90%;
    height: 15rem;
    overflow:auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
/* End Project Card */

/* Begin Tweener */
.between{
    content: "";
    display: block;
    margin: 4rem 0vw 4rem 7.5vw;
    width: 85vw;
    height: 3px;
    background-image: linear-gradient(to right,var(--main-bg-color), var(--between-main-color) 5% 95%, var(--main-bg-color));
}

.between::before ,.between::after{
    content: "";
    display: block;
    margin: 0rem 0vw 0rem 39.9vw;
    width: 5vw;
    height: 1.5px;
    background-image: linear-gradient(to right,var(--main-bg-color), var(--between-topbot-color) 5% 95%, var(--main-bg-color));
}
.between::before{
    transform: rotate(35deg);
}
.between::after{
    transform: rotate(-35deg);
}
/* End Tweener */

/* End Main Content */