@use "@/styles" as *;

.wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 18px;
    padding: 10px;
  }
}

.hiddenCell {
  opacity: 0;
  pointer-events: none;
}

.floatingCell {
  pointer-events: none;
}

@include on(desktop) {
  .wrapper {
    .content {
      gap: 12px;
      padding: 0;
    }
  }
}
