@use "@/styles" as *;

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 12px;
  border-radius: 12px;
  aspect-ratio: 1 / 1;
  outline: 2px solid rgba(255, 255, 255, 0.2);

  background-color: none;
  background: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-image 0.3s ease-in-out, outline 0.3s ease-in-out;

  color: var(--background-color);

  &.dark {
    color: var(--text-color);
  }

  &::before,
  h2,
  p {
    transition: opacity 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 0;
    filter: invert(1);
  }

  &::before {
    border-radius: 12px 12px 0 0;
    top: 0;
    background: linear-gradient(to bottom, var(--text-color), transparent);
  }

  &::after {
    border-radius: 0 0 12px 12px;
    bottom: 0;
    background: linear-gradient(to top, var(--text-color), transparent);
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    z-index: 1;
  }

  .techStack {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
}

@include on(desktop) {
  .cell:hover {
    outline: 2px solid rgba(255, 255, 255, 0.6);

    &.gif {
      background-image: var(--gif);
      color: var(--gif-text-color);

      &::before,
      h2,
      .techStack {
        opacity: 0.2;
      }
    }
  }
}
