.item {
  position: relative;

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  overflow: hidden;

  .summary {
    display: block;
    width: 100%;
    padding: 10px 12px;
    user-select: none;
    text-align: left;
  }

  .topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.65rem;
    font-weight: 600;
    color: #aaa;
  }

  .bottomRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  .company {
    margin-top: 4px;
  }

  .chevron {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: white;
  }

  .body {
    overflow: hidden;
    padding-inline: 12px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;
  }

  .roleStack {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 0 0;

    p {
      line-height: 1;
      font-size: 0.52rem;
      font-weight: 900;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.6);
      margin: 0;
      white-space: nowrap;
    }

    .stack {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }
  }

  .techIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 24px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.03);
    transition: transform 0.15s ease, border-color 0.15s ease,
      background-color 0.15s ease;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .content {
    font-size: 0.6rem;

    ul {
      list-style: disc;
      padding-left: 16px;
    }
  }

  .initiatives {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}