@use "@/styles" as *;

.window {
  flex: 1;
  position: relative;
  overflow: hidden;

  margin: -12px;

  transition: background-color 0.2s ease-in-out;

  &:has(input:checked) .content {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.items {
  position: absolute;
}

.iHeartCss {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  top: 30%;
  left: 28%;
}

.switch {
  top: 57%;
  left: 64%;
}

.burgerMenu {
  top: 70%;
  left: 26%;
}

.moreToCome {
  top: 80%;
  left: 58%;
}

.randomText {
  bottom: 5%;
  left: 15%;
}

.slider {
  top: 20%;
  left: 65%;

  width: 175px;
}

.codepen {
  top: 37%;
  left: 56%;

  font-size: 1.3rem;

  svg {
    font-size: 2rem;
  }
}

@include on(desktop) {
  .codepen:hover {
    @media (prefers-reduced-motion: no-preference) {
      svg {
        animation: float 1.5s ease-in-out infinite;
      }
    }
  }

  .slider {
    width: 250px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}
