.hero {
  display: flex;
  flex-direction: column;

  --padding-bottom: 60px;
  max-height: calc(100svh - var(--padding-bottom));
  padding-bottom: var(--padding-bottom);

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 18px;

    p,
    span {
      font-size: 1.5rem;
      line-height: 1.3rem;

      svg {
        height: 0.9em;
        width: 0.9em;
      }
    }
  }

  .techStack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 12px;
    border-radius: 12px;

    svg {
      height: 35px;
      width: 35px;
      transform: rotate(0deg);
    }

    svg:hover {
      animation: float 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
  }

  hr {
    width: calc(100% + 24px);
    height: 3px;
    background-color: var(--text-color);
    opacity: 0.3;

    margin-block: 12px;
    margin-left: -12px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}
