.hero {
  display: flex;
  flex-direction: column;

  --padding-bottom: 60px;
  max-height: calc(100svh - var(--padding-bottom));
  padding-bottom: var(--padding-bottom);

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 18px;

    p,
    span {
      font-size: 1.5rem;
      line-height: 1.3rem;

      svg {
        height: 0.9em;
        width: 0.9em;
      }
    }
  }

  .techCarousel {
    width: calc(100% + var(--content-padding) * 2);
  }

  hr {
    width: calc(100% + var(--content-padding) * 2);
    height: 3px;
    background-color: var(--text-color);
    opacity: 0.3;

    margin-block: var(--content-padding);
    margin-left: calc(var(--content-padding) * -1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}
