.body {
  flex: 1;
  overflow: hidden;

  --grid-size: 100px;
  --selected-index: 0;
  background: repeating-conic-gradient(#000 0% 25%, #040404 0% 50%)
    var(--grid-size) / var(--grid-size) var(--grid-size);
  background-position: 25px 25px;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100svh;

  margin-left: calc(var(--selected-index) * -100vw);
  transition: margin-left 0.3s ease-in-out;

  > div {
    min-width: 100vw;
    height: 100svh;
    scroll-snap-align: start;

    padding: 12px;
  }
}

.about,
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}
