.wrapper {
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.experience {
  position: relative;

  .header {
    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      font-size: 0.65rem;
      font-weight: 600;
      color: #aaa;
    }

    .toggle {
      display: flex;
      align-items: center;
      gap: 12px;

      input {
        appearance: none;
        position: relative;
        width: 16px;
        height: 16px;
      }

      input:before {
        content: "▼";
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transform: rotate(0deg);
        transition: transform 0.25s ease-in-out;
      }

      input:checked:before {
        transform: rotate(-90deg);
      }
    }
  }

  .body {
    display: grid;
    grid-template-rows: 0fr;
    padding-inline: 28px 8px;
    padding-block: 0;
    transition: grid-template-rows 0.25s ease-in-out,
      padding-block 0.25s ease-in-out;

    .inner {
      overflow: hidden;
    }

    .techStack {
      p {
        line-height: 0.75rem;
        font-size: 0.75rem;
        font-weight: 800;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
        margin-bottom: 2px;
      }

      .stack {
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
          height: 24px;
          width: 24px;
        }
      }
    }

    .content {
      font-size: 0.6rem;

      ul {
        list-style: disc;
        padding-left: 16px;
      }
    }
  }

  &:has(input:checked) {
    .body {
      grid-template-rows: 1fr;
      padding-block: 8px 0;
    }
  }
}
