@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --text-color: #fff;
  --background-color: #000;
  --mobile-breakpoint: 768px;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--text-color);

  cursor: none;

  *:hover {
    cursor: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

body {
  display: flex;
  min-width: 100vw;
  min-height: 100svh;

  #root {
    display: flex;
    flex: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;
  /* text-shadow: red 0 0 3px; */
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.react-icon {
  display: inline-block;
  color: var(--text-color);
  vertical-align: middle;
}

.hideScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}
