@use "@/styles" as *;

.overlay {
  position: fixed;
  inset: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;
}

.close {
  z-index: 2;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 6px;
  position: absolute;
  top: 18px;
  right: 18px;

  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-color);
  font-size: 24px;
  line-height: 1;
}

.expandedCard {
  z-index: 1;
  width: 100%;
  height: 100%;

  background-color: var(--background-color);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  overflow: auto;
  padding: 18px;
}

.modal {
  .projectTitle {
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 600;
  }

  img {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    margin-block: 12px 8px;
  }

  h3 {
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 6px;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .title {
      margin: 0;
      font-size: 18px;
    }

    .techStack {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      svg {
        height: 20px;
        width: 20px;
      }
    }

    hr {
      width: 100%;
      height: 1px;
      background: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.3),
        transparent
      );
      border: none;
      margin-block: 4px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-weight: 400;
    font-size: 14px;
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    font-size: 12px;
    font-weight: 700;
    --icon-size: 18px;

    a {
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius: 6px;
      padding: 8px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      svg {
        height: var(--icon-size);
        width: var(--icon-size);
      }
    }
  }
}

@include on(desktop) {
  .overlay {
    padding: 24px;
  }

  .expandedCard {
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 700px;
  }

  .modal {
    position: relative;

    .projectTitle {
      margin-bottom: 18px;
    }

    .content {
      height: 100%;
      flex-direction: row;
      align-items: flex-start;
      gap: 26px;
    }

    .info {
      flex: 1;
      max-width: 350px;
      justify-content: flex-start;

      img {
        margin-top: 0;
      }
    }

    .description {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .links {
      width: auto;
      position: absolute;
      top: 0;
      right: 20px;
      margin-top: -4px;

      a {
        transition: background-color 0.2s ease-in-out;
      }

      a:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
